<footer>
<img class="fridge-pic" src="https://res.cloudinary.com/alex-abc/image/upload/v1604080556/fridge-with-freezer-22524_vhknvs.jpg" alt="">
    <ul>
    <li><a href="/items/new">Add a new item</a><br /></li>
    <li><a href="/items/">See all items</a><br /></li>
    <li><a href="/">Home page</a></li>
</ul>    
</footer>

  </body>
</html>
