<footer>
    <ul>
    <li><a href="/items/new">Add a new item</a><br /></li>
    <li><a href="/items/">See all items</a><br /></li>
    <li><a href="/">Home page</a></li>
</ul>    
</footer>

  </body>
</html>
